* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  height: 70px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-item a {
  text-decoration: none;
  color: rgb(14 14 14 / 97%);
  font-family: system-ui;
  font-style: normal;
  font-weight: 550;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  position: relative;
}

.menu-item a:hover{
  text-decoration: none;
  color: black;
}

.menu-item {
  float: left;
  margin: 27px 10px;
  margin-top: 32px;
}

.Login {
  float: right;
  margin: 15px 20px;
  margin-right: 20px;
}

.logo {
  margin: 0px 10px;
  float: left;
  width: 107px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -5px;
  margin-right: 5px;
}

.search {
  outline: none;
  padding: 17px;
  border: 1px solid #ffffff;
  border-radius: 15px 0px 0px 15px;
  flex: 1;
  margin-top: 3px;
  margin-left: 27px;
}

.button {
  margin-top: 8px;
  padding: 13px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}

.button:hover {
  overflow: hidden;
}

.searchbar {
  display: flex;
  height: 64px;
  width: 343px;
  overflow: hidden;
}

.category-button {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  border-radius: 5px;
  top: 70px; 
  left: 1160px;
  width: 100%;
  overflow: auto;
  font-family: system-ui;
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu0SC55K5gw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}
.dropdown-container.clicked .dropdown-content {
  display: block;
}



.section {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.section-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px;
}
.poster-grab {
  margin-top: -20px;
  width: 1212px;
  margin-left: 76px;
  height: auto;
  margin-bottom: 46px;
}
.image {
  margin-left: 250px;
}

.image-container img:hover {
  transition: transform 0.4s ease-in-out;
  transform: scale(1.1);
}

.mens-wear {
  margin: 10px 70px;
  width: 250px;
  display: inline;
}

.mens-wear1 {
  margin: 10px 50px;
  width: 250px;
}

.mens-wear2 {
  margin: 10px 50px;
  width: 250px;
}

.mens-wear3 {
  margin: 50px 70px;
  width: 250px;
}

.mens-wear4 {
  margin: 50px 50px;
  width: 250px;
}

.mens-wear5 {
  margin: 50px 50px 40px;
  width: 250px;
}

.container-exclusive {
  display: flex;
  list-style: none;
  margin: 50px 112px;
  
}

.online-exclusive {
  align-content: center;
  
}

.verdicts {

  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 50px auto 20px;
  line-height: 2.1rem;
}

p {
  width: 200px;
  text-align: justify;
  color: #fff;
  font-weight: 400;
}

b {
  color: blanchedalmond;
}

/*slider*/

.slider-container {
  max-width: 1222px;
  width: 100%;
  margin: 20px auto;
}
.wrapper {
  display: flex;
  max-width: 1324px;
  width: 100%;
  height: 400px;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 12px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}
i.button:active {
  transform: scale(0.94) translateY(-50%);
}
i#prev {
  left: 25px;
}
i#next {
  right: 25px;
}
.image-container-slider {
  height: 400px;
  max-width: 1850px;
  width: 100%;
  overflow: hidden;
}
.image-container-slider .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.carousel img {
  max-width: 100%;
  height: 100%;
  border-radius: 18px;
  border: 10px solid #fff;
  object-fit: cover;
}

/*hdfc*/

.image-container-hdfc1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 50px 70px;
}
.image-container-hdfc1 li {
  margin-right: 0;
  margin-bottom: 10px;
}
.image-container-hdfc2 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 50px 70px;
}
.image-container-hdfc2 li {
  margin-right: 0;
  margin-bottom: 10px;
}
.image-container-hdfc3 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 50px 70px;
}
.image-container-hdfc3 li {
  margin-right: 0;
  margin-bottom: 10px;
}
.image-container-hdfc4 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 50px 70px;
}
.image-container-hdfc4 li {
  margin-right: 0;
  margin-bottom: 10px;
}
